<% groups = grouped_accounts(@accounts) %>

<aside class="fb-sidebar">
  <span class="fb-sidebar__section-label fb-sidebar__section-label--budget">On-Budget</span>

  <% { "Cash" => groups[:on_budget][:cash], "Credit" => groups[:on_budget][:credit] }.each do |type_name, type_accounts| %>
    <% next if type_accounts.empty? %>
    <span class="fb-sidebar__type-label"><%= type_name %></span>
    <div class="fb-sidebar__account-list">
      <% type_accounts.each do |account| %>
        <%= link_to account_path(account),
            class: "fb-sidebar__account-row #{'fb-sidebar__account-row--selected' if account == @account}" do %>
          <span class="fb-sidebar__account-name"><%= account.name %></span>
          <span class="fb-sidebar__account-balance <%= balance_css_class(account.balance) %>">
            <%= account.display_balance %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="fb-sidebar__group-total <%= 'fb-sidebar__group-total--negative' if group_total(type_accounts).negative? %>">
      <%= format_balance(group_total(type_accounts)) %>
    </div>
  <% end %>

  <div class="fb-sidebar__divider"></div>

  <span class="fb-sidebar__section-label fb-sidebar__section-label--tracking">Tracking</span>

  <% { "Loans" => groups[:tracking][:loan], "Investments" => groups[:tracking][:investment] }.each do |type_name, type_accounts| %>
    <% next if type_accounts.empty? %>
    <span class="fb-sidebar__type-label"><%= type_name %></span>
    <div class="fb-sidebar__account-list">
      <% type_accounts.each do |account| %>
        <%= link_to account_path(account),
            class: "fb-sidebar__account-row #{'fb-sidebar__account-row--selected' if account == @account}" do %>
          <span class="fb-sidebar__account-name"><%= account.name %></span>
          <span class="fb-sidebar__account-balance <%= balance_css_class(account.balance) %>">
            <%= account.display_balance %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="fb-sidebar__group-total <%= 'fb-sidebar__group-total--negative' if group_total(type_accounts).negative? %>">
      <%= format_balance(group_total(type_accounts)) %>
    </div>
  <% end %>

  <div class="fb-sidebar__divider"></div>

  <div class="fb-sidebar__net-worth">
    <span class="fb-sidebar__net-worth-label">Net Worth</span>
    <% net_worth = @accounts.sum(&:balance) %>
    <span class="fb-sidebar__net-worth-value <%= net_worth_css_class(net_worth) %>">
      <%= format_balance(net_worth) %>
    </span>
  </div>
</aside>
